<section
  class="w-full h-full grid grid-cols-3 gap-10 place-items-center place-content-center py-36 px-36"
>
  <div class="col-span-3 text-center space-y-4">
    <h2 class="font-semibold text-3xl">Getting started is easy</h2>
    <p>Earn Stars and get rewarded in a few easy steps.</p>
  </div>
  <div class="flex flex-col items-center space-y-4">
    <span
      class="border-2 border-tertiary text-tertiary text-2xl px-4 py-2 rounded-full"
    >
      1
    </span>
    <span class="text-2xl font-semibold">Create an account</span>
    <p class="text-center text-balance text-xl">
      To get started,
      <a href="#" class="underline text-tertiary">join now.</a>
      Yoy can also
      <a href="#" class="underline text-tertiary">join in the app</a>
      yo get access to the full range of Starbucks Rewards benefits.
    </p>
  </div>
  <div class="flex flex-col items-center space-y-4">
    <span
      class="border-2 border-tertiary text-tertiary text-2xl px-4 py-2 rounded-full"
    >
      2
    </span>
    <span class="text-2xl font-semibold">Order and pay how you'd like</span>
    <p class="text-center text-balance text-xl">
      Use cash, credit/debit card or save some time and pay right through the
      app. You'll collect Stars all ways. <a
        href="#"
        class="underline text-tertiary"
      >
        Learn how</a
      >
    </p>
  </div>
  <div class="flex flex-col items-center space-y-4">
    <span
      class="border-2 border-tertiary text-tertiary text-2xl px-4 py-2 rounded-full"
    >
      3
    </span>
    <span class="text-2xl font-semibold"> Earn Stars, get Rewards </span>
    <p class="text-center text-balance text-xl">
      As you earn Stars, you can redeem them for Rewards—like free food, drinks,
      and more. Start redeeming with as little as 25 Stars!
    </p>
  </div>
</section>
