---
import Navbar from '../components/navbar/Navbar.astro'
import Steps from '../components/sections/Steps.astro'
import Title from '../components/sections/Title.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Starbucks">
  <main>
    <div class="h-screen bg-secondary">
      <Navbar />
      <Title />
    </div>
    <Steps />
  </main>
</Layout>
